* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms;
}
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  padding: 80px 0;
  background-color: #444;
}

.search-box {
  display: inline-block;
  max-width: 400px;
  width: 80%;
  margin-right: 15px;
}
.search-box input {
  background-color: #eee;
  border: none;
  text-align: left;
  padding: 10px 20px;
  margin: 0;
  outline: none;
  width: 100%;
}

.add-btn {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  border-radius: 100%;
  border: none;
  height: 55px;
  width: 55px;
  font-size: 30px;
  color: #fff;
  background-color: red;
  cursor: pointer;
  outline: none;
}

.contact-list {
  margin: 30px auto;
  max-width: 950px;
  text-align: center;
}
.contact-card {
  padding: 45px 50px;
  display: inline-block;
  margin: 15px;
  box-shadow: 2px 2px #ccc;
  cursor: pointer;
  font-weight: normal;
  background-color: #6aabd5;
  color: #fff;
  text-transform: capitalize;
}
.contact-card:hover {
  transform: translateY(-8px);
}

.no-match {
  position: fixed;
  top: 30px;
  right: 30px;
  /* background-color: #444; */
  background-color: red;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.modal {
  position: absolute;
  /* top: 40px; */
  top: 25vh;
  left: 40px;
  right: 40px;
  /* bottom: 40px; */
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;

  background: #6aabd5;
  color: #fff;
  width: 80%;
  max-width: 320px;
  margin: auto;
  text-align: center;
}
.modal > * {
  margin-bottom: 15px;
  cursor: default;
}
.modal h2,
.modal h4 {
  display: inline-block;
}
.modal .label {
  text-transform: uppercase;
  margin-right: 15px;
}
.modal .name {
  text-transform: uppercase;
}
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.modal-close-btn {
  padding: 15px;
  border: none;
  background: #eee;
  color: #444;
  font-weight: bold;
  /* margin-top: 15px; */
  margin-bottom: 0;
  cursor: pointer;
}
